html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    line-height: 24px;
    height: 100vh;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #f3f3f3;
}

.change-order {
    order: 3;
}

.header {
    background-color: #76c7c0;
}

.navbar__header {
    min-height: 80px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.nav-item-header {
    margin-right: 5px;
}

.nav-link__header {
    font-size: .8125rem;
    font-weight: 600;
    margin: 0;
    border-bottom: 3px solid transparent;
}

.nav-link__header:hover,
.nav-link-header_active {
    padding: .5rem 1rem;
    background: #62a29e;
    border-bottom: 3px solid #476866;
}

.btn__header {
    border: none;
}

.btn__header:hover {
    background: #62a29e;
}

.slider {
    padding-bottom: 45px;
}

.carousel-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-text__h1 {
    font-size: 3.125rem;
    line-height: 60px;
    background-color: #e2534b;
    font-weight: 700;
    border-radius: 7px;
    padding: 4px 15px;
}

.carousel-text__p {
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
    background-color: #3f4646;
    padding: 15px 30px;
    border-radius: 7px;
}

.carousel-item {
    position: relative;
}

.carousel-item__img {
    display: block;
}

.carousel-text {
    width: 38%;
    position: absolute;
    top: 25%;
    left: 28%;
}

.carousel-indicators-m .carousel-indicators__item {
    background-color: #7f8c8c;
    width: 60px;
    height: 5px;
}

.carousel-indicators__item.active {
    background-color: #e2534b;
}

.carousel-indicators-m {
    bottom: -50px;
}

.carousel-control-prev-icon-my {
    background: url('../img/left-icon.png');
}

.carousel-control-next-icon-my {
    background: url('../img/right-icon.png');
}

.carousel-control-next-my,
.carousel-control-prev-my {
    background-color: #e8645a;
    height: 60px;
    border-bottom: 3px solid #e2534b;
    width: 50px;
    top: 43%;
}

.carousel-control-next-my:hover,
.carousel-control-prev-my:hover {
    background-color: #e2534b;
    border-bottom: 3px solid #e2534b;
}

.carousel-control-next-my {
    right: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.carousel-control-prev-my {
    left: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.top-services-area {
    margin-bottom: 50px;
}

.cart-top-services {
    background-color: #ececec;
    border-radius: 7px;
    margin-bottom: 47px;
}

.cart-body-top-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-top-services-title {
    font-size: 1.875rem;
    color: #7f8c8c;
    line-height: 36px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2px;
}

.cart-top-services-text {
    font-size: .8125rem;
    color: #777;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}

.cart-top-services-btn {
    align-self: center;
    padding: 10px 34px;
    background-color: #e8645a;
    border: none;
    border-bottom: 5px solid #e2534b;
    border-radius: 7px;
    font-size: 1.25rem;
    font-weight: 700;
}

.cart-top-services-btn:hover {
    background-color: #e2534b;
    border-bottom: 5px solid #e2534b;
}

.card-deck-my {
    margin-right: 0;
    margin-left: 0;
}

.card-deck-my .cart-services-item {
    margin-right: 10px;
    margin-left: 10px;
}

.cart-services-item {
    border-bottom: 5px solid #e5e6e6;
    border-radius: 7px;
}

.cart-services-footer {
    padding: 0;
}

.cart-services-item__thumb {
    width: 60px;
    height: 60px;
    align-self: center;
    margin-top: 50px;
}

.cart-services-item__title {
    font-size: 1rem;
    line-height: 19px;
    color: #7f8c8c;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.cart-services-item__text {
    font-size: .8125rem;
    line-height: 21px;
    color: #777;
    font-weight: 400;
    text-align: center;
}

.cart-services-item__btn {
    font-size: .875rem;
    line-height: 17px;
    font-weight: 700;
    padding: 18px 64px;
    border: none;
    border-bottom: 5px solid #62b9b0;
    background-color: #76c7c0;
    margin-bottom: -38px;
}

.cart-services-item__btn:hover {
    border-bottom: 5px solid #62b9b0;
    background-color: #62b9b0;
}

.cart-services-item__btn_active {
    border-bottom: 5px solid #e2534b;
    background-color: #e8645a;
}

.cart-services-item__btn_active:hover {
    border-bottom: 5px solid #e2534b;
    background-color: #e2534b;
}

.cart-services-footer {
    border-top: none;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-modus-versus {
    padding: 20px 5px 5px 5px;
    background-color: #b0b8b9;
    position: relative;
}

.modus-versus-area {
    background-color: #ececec;
    position: relative;
    height: 400px;
    margin-bottom: 161px;
}

.modus-versus-area::before {
    content: "";
    width: 100%;
    height: 16px;
    top: 0;
    background: url('../img/wave.png') repeat-x;
    position: absolute;
}

.modus-versus-text-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 86px;
    padding-top: 65px;
}

.modus-versus-text-content__h2 {
    font-size: 2.5rem;
    line-height: 48px;
    color: #e1524b;
    text-align: center;
    margin-bottom: 0;
}

.modus-versus-text-content__p {
    font-size: .8125rem;
    line-height: 21px;
    color: #777;
    text-align: center;
}

.feature-area {
    margin-bottom: 50px;
}

.circle {
    display: flex;
    flex-direction: row;

    padding-bottom: 15px;
}

.circle__item {
    width: 12px;
    height: 12px;
    background-color: #fff;
    margin-right: 5px;
    border-radius: 50%;
}

.circle__item:last-child {
    right: 12px;
    position: absolute;
    top: 25px;
    width: 12px;
    height: 6px;
    border-radius: 39px;
    margin-right: 0;
}

.card-modus-versus_active {
    position: relative;
    z-index: 8;
    transform: scale3d(1.4, 1.3, 1.3);
}

.choose-us__h3 {
    font-size: 1rem;
    line-height: 19px;
    color: #7f8c8c;
    text-align: left;
    font-weight: 900;
    margin-bottom: 35px;
}

.choose-us-item {
    font-size: .8125rem;
    line-height: 26px;
    color: #777;
    text-align: left;
    font-weight: normal;
}

.choose-us-img {
    margin-right: 5px;
}

.progress__p {
    font-size: .8125rem;
    line-height: 24px;
    color: #777;
    text-align: left;
    font-weight: normal;
    margin-bottom: 79px;
}

.progress__link {
    font-size: .8125rem;
    line-height: 24px;
    color: #e1524b;
    text-decoration: underline;
    font-weight: normal;
}

.progress-bar-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.progress-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar-circle {
    width: 100px;
    height: 20px;
}

.progress-50 {
    --percent: 50;
    stroke-dashoffset: calc(142 - (var(--percent) * 142 / 100));
}

.progress-70 {
    --percent: 70;
    stroke-dashoffset: calc(142 - (var(--percent) * 142 / 100));
}

.progress-80 {
    --percent: 80;
    stroke-dashoffset: calc(142 - (var(--percent) * 142 / 100));
}

.progress-100 {
    --percent: 100;
    stroke-dashoffset: calc(142 - (var(--percent) * 142 / 100));
}

.progress-bar-value {
    font-size: 1.875rem;
    line-height: 36px;
    color: #7f8c8c;
    font-weight: 800;
    margin-bottom: 5px;
}

.progress-bar-name {
    font-size: 1rem;
    line-height: 19px;
    color: #7f8c8c;
    font-weight: 800;
}

.blockquote-title__h3 {
    font-size: 1rem;
    line-height: 19px;
    color: #7f8c8c;
    font-weight: 800;
    text-align: left;
}

.blockquote-text__p {
    font-size: .8125rem;
    line-height: 24px;
    color: #777;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

.blockquote-text__p {
    font-size: .8125rem;
    line-height: 24px;
    color: #777;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 7px;
}

.blockquote-text__author {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

.blockquote-text__author::before {
    content: "";
}


.slider-clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-clients-title {
    margin-bottom: 50px;
}

.progress-bar-clients {
    background: #e1e2e2;
}

.progress-slider-clients {
    margin-bottom: 40px;
    position: absolute;
    top: 22px;
    left: 186px;
    width: 72%;
}

.carousel-item-clients {
    width: 200px;
    padding: 30px;
    background-color: #f8f8f8;
}

.slider-clients-prev,
.slider-clients-next {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-bottom: 2px solid #7f8c8c;
    background: #98a3a3;
    border-radius: 7px;
}

.slider-clients-prev-icon {
    position: absolute;
    top: 10px;
    left: 13px;
    background: url('../img/left-arrow.png') no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.slider-clients-next-icon {
    position: absolute;
    top: 10px;
    left: 17px;
    background: url('../img/right-arrow.png') no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.slider-clients-prev:hover,
.slider-clients-next:hover {
    border-bottom: 2px solid #e2534b;
    background: #e2534b;
}

.slider-clients_active {
    border-bottom: 2px solid #e2534b;
    background: #e2534b;
}

.progress-slider-clients {
    margin-bottom: 40px;
}

.slider-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.slider-gallery-item {
    margin-right: 15px;
    background: #f8f8f8;
    width: 170px;
    border-radius: 7px;
    padding: 30px 30px;
    margin-bottom: 10px;
}

.slider-gallery-item:last-child {
    margin-right: 0;
}

.slider-clients-title__h3 {
    font-size: 1rem;
    line-height: 19px;
    color: #7f8c8c;
    font-weight: 800;
    font-style: normal;
    text-align: left;
}

.slider-clients-title {
    position: relative;
    padding-top: 10px;
}

.slider-clients-title::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #e1e2e2;
    position: absolute;
    top: 19px;
    left: 166px;
}

.footer-area {
    background-color: #76c7c0;
}

.footer-top {
    padding-top: 45px;
    padding-bottom: 55px;
}

.about-footer__link {
    margin-bottom: 30px;
}

.about-footer__text {
    font-size: .8125rem;
    line-height: 23px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.form-group__contact {
    margin-bottom: 0;
}

.contact__name {
    font-size: .8125rem;
    line-height: 23px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.form-control__contact placeholder {
    color: #fff;
}

.contact__value {
    background-color: #76c7c0;
    border: none;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.contact__value:hover {
    text-decoration: none;
}

.footer-nav__h3 {
    font-size: 1.25rem;
    color: #000;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
}

.footer-nav-list {
    padding-left: 40px;
}

.footer-nav-item {
    margin-bottom: 5px;
}

.footer-nav-icon {
    margin-right: 15px;
}

.footer-nav-link {
    font-size: .8125rem;
    line-height: 23px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}

.footer-nav-link:hover {
    text-decoration: none;
    padding: 10px;
}

.blog-title {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 700;
    line-height: 24px;
    font-style: italic;
    text-align: left;
    margin-bottom: 30px;
}

.blog-title span {
    font-size: 1.25rem;
    line-height: 24px;
    font-style: normal;
}

.blog-thumb {
    align-self: center;
}

.blog-thumb__img {
    padding: 25px;
    background: #5e9f9a;
}

.blog-text-box {
    padding-left: 15px;
}

.blog-text,
.footer-blog-date {
    font-size: .8125rem;
    line-height: 19px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

.blog-date {
    color: #000;
}

.footer-bottom {
    background: #6ab3ac;
    min-height: 50px;
}

.widget_copyright a {
    margin-left: 5px;
}

.widget_copyright p {
    margin-bottom: 0;
}


.widget_copyright p,
.widget_copyright a {
    font-size: .75rem;
    color: #fff;
    text-align: left;
}

.social a:hover {
    transform: scale(1.1);
}


/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .nav-item-header {
        margin-right: 0;
    }

    .cart-top-services-content {
        width: 70%;
    }

    .cart-services-footer {
        padding: 0;
    }

    .cart-services-item__btn {
        padding: 18px 47px;
    }

    .footer-nav__h3 {
        text-align: left;
    }

    .footer-nav-list {
        padding-left: 0;
    }

    .nav-link__header:hover,
    .nav-link-header_active {
        padding: .5rem .675rem;
    }

    .link-header_active {
        padding: .5rem .675rem;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-start;
    }

    .navbar-collapse {
        position: relative;
    }

    .form-search {
        position: absolute;
        top: -8px;
        right: 5px;
    }

    .card-deck-my {
        margin-bottom: 40px;
    }

    .top-services-area {
        margin-bottom: 30px;
    }

    .modus-versus-text-content {
        margin-bottom: 42px;
        padding-top: 65px;
    }

    .modus-versus-text-content__h2 {
        margin-bottom: 10px;
    }

    .modus-versus-text-content__p {
        font-size: 1.2rem;
        line-height: 24px;
    }

    .card-modus-versus_active {
        transform: none;
    }

    .card-modus-versus {
        margin-bottom: 20px;
    }

    .modus-versus-area {
        background-color: #ececec;
        height: auto;
        margin-bottom: 60px;
    }

    .change-order {
        order: 0;
    }

    .choose-us__h3 {
        margin-bottom: 8px;
    }

    .blockquote-title__h3 {
        margin-bottom: 14px;
    }

    .progress__p {
        margin-bottom: 31px;
        padding-top: 20px;
    }

    .slider-gallery-item {
        margin-right: 3px;
        margin-bottom: 15px;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-title {
        padding-top: 30px;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .navbar__header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .navbar-brand {
        margin-bottom: 20px;
    }

    .navbar-light .navbar-toggler {
        align-self: baseline;
    }

    .cart-services-item {
        margin-bottom: 20px;
    }

}

@media (max-width: 767.98px) {

    .carousel-text {
        width: 55%;
        position: absolute;
        top: 20%;
        left: 25%;
    }

    .carousel-text__h1 {
        line-height: 27px;
    }

    .carousel-text__p {
        font-size: .675rem;
        line-height: 17px;
        padding: 0;
        background: none;
    }

    .cart-body-top-services {
        flex-direction: column;
    }

    .cart-top-services-content {
        margin-bottom: 20px;
    }

    .cart-top-services-title {
        font-size: 1.2rem;
    }

    .cart-top-services-btn {
        padding: 10px 22px;
        font-size: .875rem;
    }

    .modus-versus-text-content__h2 {
        font-size: 1.5rem;
    }

    .modus-versus-text-content {
        padding-top: 26px;
    }

    .card-modus-versus_active {
        transform: none;
    }

    .card-modus-versus {
        margin-bottom: 20px;
    }

    .modus-versus-area {
        height: auto;
        margin-bottom: 37px;
    }

    .progress-box {
        margin-bottom: 37px;
    }

    .progress__p {
        margin-bottom: 37px;
    }

    .progress-slider-clients {
        display: none;
    }

    .slider-clients-title::after {
        content: none;
    }

    .slider-gallery {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .slider-gallery-item {
        width: 120px;
        padding: 24px 8px;
        margin-bottom: 20px;
    }

    .contact {
        margin-bottom: 20px;
    }

    .footer-nav-list {
        margin-bottom: 20px;
    }

    .blog-title {
        margin-bottom: 20px;
        padding-top: 20px;
    }

}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .nav-my {
        flex-direction: column;
        padding-top: 20px;
    }

    .carousel-control-next-my,
    .carousel-control-prev-my {
        background-color: #e2534b;
        height: 40px;
        width: 30px;
        top: 29%;
    }

    .carousel-text {
        width: 70%;
        position: absolute;
        top: 7%;
        left: 15%;
    }

    .carousel-text__h1 {
        font-size: 1rem;
        line-height: 27px;
    }

    .carousel-text__p {
        font-size: .675rem;
        line-height: 17px;
        padding: 0;
        background: none;
    }

    .cart-body-top-services {
        flex-direction: column;
    }

    .cart-top-services-content {
        margin-bottom: 20px;
    }

    .cart-top-services-title {
        font-size: 1.2rem;
    }

    .cart-top-services-btn {
        padding: 10px 22px;
        font-size: .875rem;
    }

    .modus-versus-text-content__h2 {
        font-size: 1.5rem;
    }


    .modus-versus-text-content {
        padding-top: 26px;
    }

    .card-modus-versus_active {
        transform: none;
    }

    .card-modus-versus {
        margin-bottom: 20px;
    }

    .modus-versus-area {
        height: auto;
        margin-bottom: 37px;
    }

    .progress-box {
        margin-bottom: 37px;
    }

    .progress__p {
        margin-bottom: 37px;
    }

    .progress-slider-clients {
        display: none;
    }

    .slider-clients-title::after {
        content: none;
    }

    .slider-gallery {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }


    .slider-gallery-item {
        width: 120px;
        padding: 24px 8px;
        margin-bottom: 20px;
    }

    .contact {
        margin-bottom: 20px;
    }

    .footer-nav-list {
        margin-bottom: 20px;
    }


    .blog-title {
        margin-bottom: 20px;
        padding-top: 20px;
    }


}